.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7fbff;
  height: 200px;
}

.todo-list{
  display: flex;
  flex-wrap: wrap;
  padding: 25px 35px;
  /* justify-content: center; */
  gap: 105px;
}

.todo-list .card-wrapper{
  width: 270px;
  height: 200px;
  /* margin-right: 100px; */
  gap: 25px;
  text-align: left;
  border: 1px solid #fbfbfb;
  /* padding: 15px 20px; */
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 20%);
  position: relative;
}

.card-wrapper .border-line{
  width: 100%;
  height: 2px;
  background: linear-gradient(
		90deg,
		rgba(255,118,20,1),
		rgba(255,84,17,1)
  )
}

.card-wrapper .footer-link i:before{
  color: #ff5411;
}

.footer-link{
  position: absolute;
  bottom: 5px;
  right: 10px;
}



.card-wrapper:nth-child(5n + 1) .border-line {
	background: linear-gradient(
		90deg,
		rgba(93,12,255,1),
		rgba(155,0,250,1) 
);


}

.card-wrapper:nth-child(5n + 1) .footer-link i:before{
  color:rgb(93,12,255);
}

.card-wrapper:nth-child(5n + 1) h5{
	color:#cab0ff;
}

.card-wrapper:nth-child(5n + 2) .border-line{
	background: linear-gradient(
		90deg,
		rgba(255,12,241,1),
		rgba(250,0,135,1)
)
}

.card-wrapper:nth-child(5n + 2) .footer-link i:before{
  color:rgb(255,12,241);
}

.card-wrapper:nth-child(5n + 2) h5{
	color:#ffddef;
}

.card-wrapper:nth-child(5n + 3) .border-line{
	background: linear-gradient(
		90deg,
		rgba(20,159,255,1),
		rgba(17,122,255,1)
)
}

.card-wrapper:nth-child(5n + 3) .footer-link i:before{
  color:rgb(20,159,255);
}


.card-wrapper:nth-child(5n + 3) h5{
	color:#c0dbff;
}


.card-wrapper:nth-child(5n + 4) .border-line{
	background: linear-gradient(
    90deg,
    rgb(110, 255 ,20),
    rgb(17, 255 ,103)
    )
}

.card-wrapper:nth-child(5n + 4) .footer-link i:before{
  color:rgb(110,255, 20);
}

.card-wrapper:nth-child(5n + 4) h5{
	color:#beffd6;
}
